body {
  background-color: blueviolet;
  /* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
}

/* Header Styles */
header {
  font-family: 'Times New Roman', Times, serif;
  background-color: white;
  color: rgb(48, 48, 131);
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; 
}

.logo img {
  margin-left: 175px;
  width: 300px; /* Adjust the width as needed */
  height: 119px; /* Maintain aspect ratio */
}

.logo2 img {
  margin-right: 175px;
  width: 165px; /* Adjust the width as needed */
  height: 125px; /* Maintain aspect ratio */
}

.social-media {
  position: absolute; 
  bottom: 0; 
  left: 68%; 
  transform: translateX(-50%); 
}

.social-media a {
  margin-left: 10px;
}

.social-media img {
  width: 20px; /* Adjust the width as needed */
  height: 20px; /* Maintain aspect ratio */
  opacity: 0.5;
}

/* Navbar Styles */
nav {
  background-color: rgb(48, 48, 131);
  padding: 10px 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center; /* Center the list items */
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  text-align: center;
  align-items: center;
  padding: 10px 20px;
}

nav ul li a:hover {
  background-color: #ff0000;
}

/* Footer Styles */
footer {
  background-color: rgb(48, 48, 131);
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

}
