body {
  background-color: hsla(240, 96%, 98%, 1);
  font-family: Lato, sans-serif;
  margin: 0;
  padding: 0;
  font-size: large;
}

.btn-primary {
  background-color: rgb(48, 48, 131);
}

.btn-primary:hover {
  background-color: #e53624;
}

.bi-person-circle {
  color: rgb(48, 48, 131);
  font-size: 72px;
}

#wait {
  position: absolute;
  left: 50%;
  top: 50%;
  color: #e53624;
}

#hourCountDiv {
  font-size: 3.5em;
}

/* Header Styles */
header {
  font-family: "Times New Roman", Times, serif;
  background-color: inherit;
  color: rgb(48, 48, 131);
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo img {
  margin-left: 175px;
  height: 100px;
}

.logo2 img {
  margin-right: 175px;
  height: 100px;
}

.social-media {
  position: absolute;
  bottom: 0;
  left: 85%;
  transform: translateX(-50%);
}

.social-media a {
  margin-left: 10px;
}

.social-media i {
  width: 20px; /* Adjust the width as needed */
  height: 20px; /* Maintain aspect ratio */
}

/* Navbar Styles */
nav {
  background-color: rgb(48, 48, 131);
  padding: 8px 0;
  margin: 0;
  position: sticky;
  top: 0;
  z-index: 1;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center; /* Center the list items */
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  text-align: center;
  align-items: center;
  padding: 10px 20px;
}

nav ul li a:hover {
  background-color: #e53624;
}

/* Footer Styles */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(48, 48, 131);
  color: #fff;
  padding: 8px 0;
  text-align: center;
}

footer p {
  margin: 0;
}
